name: Event Reservation NodeJS CI

on:
  push:
    branches: [ main, fix/test ]
  pull_request:
    branches: [main]

jobs:
  build-backend-api:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 20.x ]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: yarn install
      - name: Run Unit tests
        run: yarn test
